{% extends "base.html" %}
{% block before_container %}
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">New Gear，Welcome！</h1>

    <p><span class="fa-bold">故事齿轮</span>是一个创作工具，让你可以和自己喜欢的人一起写喜欢的东西！</p>
    <div class="center-block text-center">
      <a class="btn btn-primary btn-lg" href="/story/new/" role="button">新的故事</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">续写章节</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">章节投票</a>
    </div>

  </div>
</div>
{% endblock %}
{% block in_container %}

  <h1>热门的故事</h1>
  <div class="row">
  {% for story in stories %}
    <div class="col-md-4">
      <h2>{{ story.title }}</h2>

      <p>{{ story.description }}</p>

      <p><a class="btn btn-default" href="/story/{{ story.id }}" role="button" target="_blank">阅读更多 &raquo;</a></p>
    </div>
  {% endfor %}

  </div>
{% endblock %}