body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.description-font {
  font-size: 16px;
  font-weight: bold;
}

.main-body-text {
    font-size: 14px;
    line-height: 1.6;
    text-indent: 2em;
    padding-bottom: 2em;
}

.intro-text {
    font-size: 10px;
    text-indent: 20px;
    color: dimgray;
}

.gray-text{
    color: dimgray;
}

.font-14px {
    font-size: 14px;
}

.no-link-style {
    text-decoration: none;
}

.no-link-style:hover {
    text-decoration: none;
}

.padding-1em {
    padding: 1em;
}

.padding-h3 {
    padding-left: 15px;
    padding-right: 15px;
}

.border-radius-3px {
    border-radius: 3px 3px;
}
.margin-right-1em{
    padding-right: 1em;
}
.position-relative{
    position: relative;
}
.bottom-0 {
    bottom: 0;
    position: absolute;
    right: 0;
}

/*home page style*/

.story-brick-padding {
    padding-left: 2px;
}