{% extends "base.html" %}
{% block title %}
  第{{ chapter.index }}章节 - {{ story.title }}
{% endblock %}
{% block in_container %}
  <div class="row position-relative">
    <div class="col-md-5">
      <h1>第{{ chapter.index }}章&nbsp;&nbsp;<small class="font-14px">返回 <a href="{{ story.get_absolute_url }}" class="no-link-style">{{ story.title }}</a></small></h1>
    </div>
    <div class="col-md-7 text-right bottom-0">
      <small class="padding-h3">
        <a {% if not chapter.voted %}href="{{ story.get_absolute_url }}new_chapter/"{% endif %} data-toggle="tooltip" data-placement="top" title="已经有{{ chapter.rchapters.all | length }}人续写了这一章">
          <span class="badge"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ chapter.rchapters | length }}</span>
        </a>
      </small>
      <div class="btn-group inline-group">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          更多
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu text-left" role="menu">
          {% if story.author.id == request.user.id %}
            {% if not chapter.voted%}
              <li data-toggle="tooltip" data-placement="left" title="锁定后这个章节不接受新的续写"><a href="{{ chapter.relative_url }}end/">终结(锁定)并开始下一章</a></li>
            {% elif chapter.voted %}
              <li data-toggle="tooltip" data-placement="left" title="解除锁定（暂时不可用）"><a href="#">解除锁定</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row position-relative">
    <div class="col-md-12 story-meta description-font">
      <p>投稿总数: {{ chapter.rchapters | length }}</p>
    </div>
  </div>

{% for rchapter in chapter.rchapters.all %}
  <div class="row chapter-head position-relative">
    <div class="col-md-3">
      <h3><span>
        {{ rchapter.title }}
        <small>by
          {% if rchapter.author.firstname %}
            {{  rchapter.author.firstname }}
          {% elif rchapter.author.username %}
            {{ rchapter.author.username }}
          {% endif %}
        </small>
      </span></h3>
    </div>
    <div class="col-md-9 text-right bottom-0">
      <small class="padding-h3">
        <a href="#" class="vertical-align-center" data-toggle="tooltip" data-placement="top" title="点赞">
          <span class="badge"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;{{ rchapter.likes }}</span>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" title="收藏">
          <span class="badge"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;{{ rchapter.stars }}</span>
        </a>
        <a href="#" data-toggle="tooltip" data-placement="top" title="这个章节已经被阅读{{ rchapter.views }}次">
          <span class="badge"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;{{ rchapter.views }}</span>
        </a>
      </small>
      <div class="btn-group inline-group">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          更多
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu text-left" role="menu">
        {% if not chapter.voted %}
          <li><a href="#">评分</a></li>
        {% endif %}
        </ul>
      </div>

    </div>
  </div>
  <hr/>

  <div class="row chapter-body position-relative">
    <div class="col-md-12">
      <pre><p class="intro-text">{{ rchapter.content }}</p></pre>
      <p class="main-body-text">{{ rchapter.content }}</p>
    </div>
  </div>

{% endfor %}

{% endblock %}