{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}续写章节 - {{ story.id }}{% endblock %}
{% block in_container %}
  <h1>{{ story.title }} - {{ story.author.username }} - 续写第{{ story.latest_chapter }}</h1>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <form action="." method="post" class="form">
      {% csrf_token %}
        <input type="hidden" value="{{ story.latest_chapter }}" name="chapter"/>
      {% bootstrap_form form %}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %}&nbsp;保存章节
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}