{% extends "base.html" %}
{% block in_container %}
  <h1>{{ story.title }}</h1>

  <hr/>

  <div class="row">
    <div class="col-md-12 story-meta description-font">
      <p>章节数: {{ story.chapters | length }}</p>
      <p >简介：{{ story.description }}</p>
    </div>
    <div class="col-md-12 chapter-zero">
      <h3>引子</h3>
      <hr/>
      <p class="main-body-text">{{ story.content }}</p>
    </div>
  </div>

{% for chapter in story.get_voted_chapters %}
  <div class="row chapter">
    <div class="col-md-12">
      <h3 class="col-md-12">{{ chapter.title }}
        <small class="padding-h3">
          <a href="#">
            <span class="badge"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;{{ chapter.rank }}</span>
          </a>
        </small>
      </h3>

    </div>
    <div class="col-md-12 main-body-text">
      <hr/>
      <p>{{ chapter.content }}</p>
    </div>
  </div>
{% endfor %}
{% endblock %}