{% extends "base.html" %}
{% block in_container %}
  <div class="row position-relative">
    <div class="col-md-3">
      <h1><span>{{ story.title }}</span></h1>
    </div>
    <div class="col-md-9 text-right bottom-0">
        <small class="padding-h3">
        <a href="#" class="vertical-align-center">
          <span class="badge"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;{{ story.likes }}</span>
        </a>
        <a href="#">
          <span class="badge"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;{{ story.stars }}</span>
        </a>
        <a href="#">
          <span class="badge"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;{{ story.views }}</span>
        </a>
      </small>
      <div class="btn-group inline-group">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          更多
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu text-left" role="menu">
          <li><a href="#">为故事添加标签</a></li>
          <li><a href="#">推荐这个故事</a></li>
          <li><a href="#">评分</a></li>
        </ul>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row position-relative">
    <div class="col-md-12 story-meta description-font">
      <p>章节数: {{ story.chapters | length }}</p>
      <p >简介：{{ story.description }}</p>
    </div>
    <div class="col-md-12 chapter-zero">
      <h3>引子</h3>
      <hr/>
      <p class="main-body-text">{{ story.content }}</p>
    </div>
  </div>

{% for chapter in story.get_chapters %}
  <div class="row chapter-head position-relative">
    <div class="col-md-3">
      <h3><span>
          第 {{ chapter.index }} 章{% if chapter.title %} - {{ chapter.title }}{% endif %}
      </span></h3>
    </div>
    <div class="col-md-9 text-right bottom-0">
        <small class="padding-h3">
        {% if chapter.voted %}
        <a href="#" class="vertical-align-center">
          <span class="badge"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;{{ chapter.likes }}</span>
        </a>
        <a href="#">
          <span class="badge"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;{{ chapter.stars }}</span>
        </a>
        <a href="#">
          <span class="badge"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;{{ chapter.views }}</span>
        </a>
      {% else %}
        <a href="new_chapter/">
          <span class="badge"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ chapter.rchapters| length }}</span>
        </a>
      {% endif %}

      </small>
      <div class="btn-group inline-group">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          更多
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu text-left" role="menu">
          <li><a href="{{ chapter.relative_url }}">阅读所有续章</a></li>
          {% if not chapter.voted and story.author.id == request.user.id %}
            <li><a href="{{ chapter.relative_url }}end/">终结本章</a></li>
          {% endif %}
          {% if not chapter.voted %}
            <li><a href="new_chapter/">撰写续章</a></li>
            <li><a href="#">评分</a></li>

          {% endif %}
        </ul>
      </div>

    </div>
  </div>
  <hr/>

  <div class="row chapter-body position-relative">
    <div class="col-md-12">
      {% if chapter.voted %}
        <p class="main-body-text">{{ chapter.content }}</p>
      {% else %}
        <p>这个章节还在募集中，开始撰写吧！</p>
      {% endif %}
    </div>
  </div>

{% endfor %}

{% endblock %}